package main

import (
	 _ "{{ .Import }}"

	"os"

	helpers "github.com/vedadiyan/goal-helpers/pkg"
	auto "github.com/vedadiyan/goal/pkg/config/auto"
	"github.com/vedadiyan/goal/pkg/service"
)

func init() {
	{{- range $i, $key := .NatsConns}}
	helpers.AddNats("{{ $key }}")
	{{- end }}
	{{- range $i, $key := .PostgresConns}}
	helpers.AddPostgres("{{ $key }}")
	{{- end }}
	{{- range $i, $key := .UseRedis}}
	helpers.AddRedis("{{ $key }}")
	{{- end }}	
	{{- range $i, $key := .UseMongoDb}}
	helpers.AddMongo("{{ $key }}")
	{{- end }}	
	{{- if .UseInfluxDb }}
	helpers.AddInfluxDb("{{ .UseInfluxDb }}", "{{ .ModuleName }}")
	{{- end }}
}

func main() {
	etcd := os.Getenv("ETCD_URL")
	if len(etcd) == 0 { 
		auto.Bootstrap(auto.ForConfigMap())
	} else {
		auto.Bootstrap(auto.ForETCD(etcd))
	}
	service.Bootstrap()
}
